<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <a href="/">Главная</a>
        <a href="/cars/all">Все тачки</a>
        <a href="/cars/new">Новые</a>
        <a href="/cars/used">С пробегом</a>
        {{{body}}}
    </body>
</html>